# Class 16

### Lambda func

In [3]:
def lamby(x):
    print(x)
print(lamby,type(lamby))

<function lamby at 0x107f956a8> <class 'function'>

In [1]:
(lambda x: print(x))(3) #returns only one value

3

In [2]:
f = lambda x: print(x)
print(f,type(f))

<function <lambda> at 0x107f95e18> <class 'function'>

In [13]:
(lambda x:x+10)(5)

15

In [10]:
f=(lambda x:x+10)
f(2)

12

In [18]:
y = (lambda x:print('1st L',x+10))(5)
print(y)
y = (lambda x:x+10)(5)
print('second',y)

1st L 15
None
second 15

In [30]:
#even/odd
(lambda x: 'even' if x%2==0 else 'odd')(5)

'odd'

In [37]:
#Lambda functions are used in callback functions,(Invoking indirectly)

In [36]:
def fn1():
    print("fn111")
    
def callback(d):
    d()
    
callback(fn1)

fn111

## Bookings saaar

In [39]:
def ubersir(s,d):
    print("Saarr uber saar from ",s,' to ',d,' Saar.')
def olasir(s,d):
    print("Saarr ola saar from ",s,' to ',d,' Saaaar.')
    
def bookingssaar(s,d,app):
    app(s,d)

(s,d) = (input("saaar yelli hog beku saar  ")).split()
how = input("saar henga hog beku saar?  ")

if how == 'uber':
    bookingssaar(s,d,ubersir)

if how == 'ola':
    bookingssaar(s,d,olasir)
else:
    print('agudilla saaar')

saaar yelli hog beku saar  saarmane stripclub
saar henga hog beku saar?  uber
Saarr uber saar from  saarmane  to  stripclub  Saar.

# Class 17

In [5]:
l = ['xyz','AbR','aDc','ASD','Fds','Fadooop']
print(sorted(l, key=lambda x:x[1])) #sorted based on second character

['aDc', 'ASD', 'Fadooop', 'AbR', 'Fds', 'xyz']

In [6]:
print(max(l,key = lambda i:len(i)))

Fadooop

In [7]:
l = [10,15,20,25,30]
c = []
for i in range(1,len(l)):
    c.append(l[i]-l[i-1])
c

[5, 5, 5, 5]

# Class 18

### Shallow and deep copy

In [8]:
import copy
f = [1,2,3,[4,5,6]]
l=copy.deepcopy(f)
l

[1, 2, 3, [4, 5, 6]]

## List comprehension

In [10]:
l = [i for i in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
s = ['abc' for i in range(5) ]
s

['abc', 'abc', 'abc', 'abc', 'abc']

In [15]:
list('abc')

['a', 'b', 'c']

In [19]:
l = [x for x in range(11) if x%2==0]
l

[0, 2, 4, 6, 8, 10]

In [20]:
even = [x for x in range(11) if x%2==0]
odd = [x for x in range(11) if x%2==1]
print(len(even))
print(len(odd))

6
5

In [23]:
s = 'Hello world'
rmvd = [x for x in s if x not in ('a','e','i','o','u')]
''.join(rmvd)

'Hll wrld'

# Class 19

In [3]:
cities = ['Bang','Dubai','Yelahanka']
up = [i.upper() for i in cities]
#or
up = [str.upper(i) for i in cities]
up

['BANG', 'DUBAI', 'YELAHANKA']

In [5]:
l = [i for i in cities if len(i) > 5]
l

['Yelahanka']

In [12]:
l1 = [i for i in range(5)]
l2 = [i for i in range(5,9)]
l3 = [(x,y) for x in l1 for y in l2] #Cartesian product
print(l3)
print('__'*34)
l4 = [(x,y) for x in l1 for y in l2 if x<y]
print(l4)

[(0, 5), (0, 6), (0, 7), (0, 8), (1, 5), (1, 6), (1, 7), (1, 8), (2, 5), (2, 6), (2, 7), (2, 8), (3, 5), (3, 6), (3, 7), (3, 8), (4, 5), (4, 6), (4, 7), (4, 8)]
____________________________________________________________________
[(0, 5), (0, 6), (0, 7), (0, 8), (1, 5), (1, 6), (1, 7), (1, 8), (2, 5), (2, 6), (2, 7), (2, 8), (3, 5), (3, 6), (3, 7), (3, 8), (4, 5), (4, 6), (4, 7), (4, 8)]

In [1]:
sum([int(i) for i in input()])

123

6

# Class 20

### map

In [10]:
#How map works

def mymap(fn,itr):
    r= []
    for i in itr:
        r.append(fn(i))

In [2]:
a = ['1','2','3']
b = set(map(int,a))
b

{1, 2, 3}

In [8]:
#Print sum of string
s = '123'
print(sum(map(int,s)))

6

In [11]:
cities = ['adi','asfr','some']
print(list(map(str.upper,cities)))

['ADI', 'ASFR', 'SOME']

In [23]:
print(list( (map(lambda e: int(e)**2 , range(1, int(input())+1)   ))))

7
[1, 4, 9, 16, 25, 36, 49]

In [34]:
a = [1,2,3]
b = [2,3,4]
print(list(map(pow,a,b)))

[1, 8, 81]

In [31]:
print(list( (map(lambda n1,n2: n1+n2,a,b))))

[3, 5, 7]

# Class 21

### Filter

In [20]:
#filter(<func>,<iter>)
l=[2,5,6,12,64,37,97,54,7658,54843,64362436,4575465724,56]
res=list(filter(lambda x:x%2==0,l))
res

[2, 6, 12, 64, 54, 7658, 64362436, 4575465724, 56]

In [1]:
s = 'Hello World'
''.join(list(filter(lambda x:x.lower() not in('aeiou'),s)))

'Hll Wrld'

#  Class 22

In [14]:
l =list(range(-10,11))
fil=filter(lambda x:x>0,l)
res = list(fil)
print(res)
print(list(fil)) #Can be used only once

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [11]:
cities =['Hello','world','Adishrao','imoutofwords']
print(list(filter(lambda x:len(x)>5,cities)))

['Adishrao', 'imoutofwords']

In [15]:
print(list(filter(lambda n: len(n)>5,map(str.upper,cities))))

['ADISHRAO', 'IMOUTOFWORDS']

In [16]:
#more efficient
list(map(str.upper,filter(lambda n:len(n)>5,cities)))

['ADISHRAO', 'IMOUTOFWORDS']

In [32]:
print(sum(map(int,filter(str.isdigit,input()))))

123ab56
17

### Reduce
#### Reuduces an iterable to a single object

In [53]:
from functools import reduce
from itertools import accumulate

In [46]:
l = list(range(10))
res = reduce(lambda x,y:x+y,l,2) #[0] = 2 [1+] = l
res

47

In [50]:
reduce(lambda x,y: x*y, range(1,int(input())+1))

4

24

In [54]:
list(accumulate(range(1,5),lambda x,y:x*y))

[1, 2, 6, 24]

# Class 24

### Tuples

In [1]:
t = (10,7)

In [6]:
e = ('e', 12,0.00002)
t = (True,False,'hello')
a = e+t
print(a)
print(e*3)

('e', 12, 2e-05, True, False, 'hello')
('e', 12, 2e-05, 'e', 12, 2e-05, 'e', 12, 2e-05)

In [8]:
a,b,c=1,2,3
print(a,b,c)
d = (4,5,6)
a,b,c = d
print(a,b,c)

1 2 3
4 5 6

In [16]:
a,b,*c = 1,2,3,4,5,6,7,8

In [14]:
print(a,b,c, sep='\n')

1
2
[3, 4, 5, 6, 7, 8]

# Class 25

In [1]:
a,b=5,6
print('a ',a,' b ',b)
a,b=b,a
print('a ',a,' b ',b)

a  5  b  6
a  6  b  5

In [2]:
a,*b,c = 1,2,3,4,5
a,b,c

(1, [2, 3, 4], 5)

In [5]:
l1 = [1,2,3,4,5,6]
l2 = ['a','b','c']
l3 = ['d','e','f']
l4 = list(zip(l1,l2,l3))

In [6]:
for i in l4:
    print(i)

(1, 'a', 'd')
(2, 'b', 'e')
(3, 'c', 'f')

In [9]:
for i,j,*k in l4:
    print(i,j)

1 a
2 b
3 c

In [1]:
marks = [tuple(range(1,5)),tuple(range(5,9))]
suml =[0]*4
for j in marks:
    for i in range(0,4):
        suml[i]+=j[i]

In [2]:
suml

[6, 8, 10, 12]

In [3]:
marks

[(1, 2, 3, 4), (5, 6, 7, 8)]

# Class 26

In [7]:
s= {3,7,1,7,3,8}
s

{1, 3, 7, 8}

In [12]:
s1 = set([1,2,2,2,3,6,7,4])
s2 = set()
s2.add(1)
s2.add(2)
s2.add(9)

In [13]:
s1|s2 #union
# s1.union(s2)

{1, 2, 3, 4, 6, 7, 9}

In [14]:
s1&s2 #Intersection
#s1.intersection(s2)

{1, 2}

In [15]:
s1-s2
#s1.difference(s2)

{3, 4, 6, 7}

In [16]:
s2-s1 #Difference

{9}

In [17]:
s1^s2 #Symmetric difference (Union-Intersection)
#s1.symmetric_difference(s2)

{3, 4, 6, 7, 9}

In [18]:
a = {2,3}

In [22]:
a<s1 #Subset

True

In [23]:
a>s1 #Superset

False

In [21]:
t = 'Mississippi'
print(set(t))

{'M', 's', 'p', 'i'}

In [26]:
s = set(range(30))

In [27]:
#Empty collections are Boolean False

In [30]:
#Find prime numbers in a given range
n=30
prime = set()
seive = set(range(2,n+1))
while seive:
    small=min(seive)
    prime.add(small)
    seive = seive - set(range(small,n+1,small))
print(prime)

{2, 3, 5, 7, 11, 13, 17, 19, 23, 29}

In [42]:
#Check if given string is panagram
sen = set(str(input()).lower())
sent = ''
for i in sen:
    if i.isalpha():
        sent+=i
print(sent)
if len(sent)==26:
    print(True)
else:
    print(False)

Hello There!
ohretl
False

# Class 27

### Dictionary

In [1]:
w = ['one','two','three']
list(enumerate(w,1))

[(1, 'one'), (2, 'two'), (3, 'three')]

In [6]:
d=dict(a=1,b=2,c=3)
d

{'a': 1, 'b': 2, 'c': 3}

In [3]:
{1:'one'}

{1: 'one'}

In [4]:
dict(1='one')

SyntaxError: keyword can't be an expression (<ipython-input-4-3bc5f9468f06>, line 1)

In [13]:
print("Items")
for i in d.items():
    print(i)
print("Keys")
for i in d.keys():
    print(i)
print("Values")
for i in d.values():
    print(i)
print("Nothing")
for i in d:
    print(i)

Items
('a', 1)
('b', 2)
('c', 3)
Keys
a
b
c
Values
1
2
3
Nothing
a
b
c

In [15]:
d['a'] = 5
d

{'a': 5, 'b': 2, 'c': 3}

In [16]:
d['d'] = 9
d

{'a': 5, 'b': 2, 'c': 3, 'd': 9}

In [17]:
sq = {}
for i in range(6):
    sq[i] = i*i
sq

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [36]:
ip = input().split()
freq = {}
for i in ip:
    if freq.get(i): # if i in freq.keys()
        freq[i]+=1
    else:
        freq[i]= 1
#OR
freq = {}
for i in ip:
    freq[i]=freq.get(i,0)+1
freq

Hello World! Hello !

{'Hello': 2, 'World!': 1, '!': 1}

# Class 28

In [54]:
freqw = {}
freqal = {}
freqalw = {}
with open('class28.txt','r') as file:
    line = file.readline()
    while(line):
        for i in line.split():
            freqw[i]=freq.get(i,0)+1
            alph = i[0]
            freqal[alph]=freqal.get(alph,0)+1
            alph = i[0]
            if freqalw.get(alph):
                freqalw[alph].append(i)
            else:
                freqalw[alph]=[i]
        line = file.readline();
print(freqw)
print(freqal)
print(freqalw)

{'betty': 2, 'bought': 2, 'some': 2, 'butter': 2, 'but': 2, 'the': 2, 'was': 2, 'bitter': 2, 'so': 2, 'better': 2, 'to': 2, 'make': 2}
{'b': 13, 's': 3, 't': 3, 'w': 1, 'm': 1}
{'b': ['betty', 'bought', 'butter', 'but', 'butter', 'bitter', 'betty', 'bought', 'better', 'butter', 'bitter', 'butter', 'better'], 's': ['some', 'so', 'some'], 't': ['the', 'to', 'the'], 'w': ['was'], 'm': ['make']}

In [62]:
dbfiles = {}
with open('db.txt','r') as file:
    line = file.readline().strip()
    while(line):
        ext = line[line.index('.')+1:]
        if dbfiles.get(ext):
            dbfiles[ext].append(line)
        else:
            dbfiles[ext]=[line]
        line = file.readline().strip()
dbfiles

{'pdf': ['file1.pdf', 'file3.pdf'],
 'txt': ['file2.txt', 'file9.txt', 'file10.txt'],
 'png': ['file4.png', 'file7.png', 'file11.png'],
 'c': ['file5.c', 'file8.c', 'file15.c'],
 'py': ['file6.py', 'file12.py'],
 'csv': ['file13.csv', 'file14.csv']}

In [73]:
USN = ['1','2']
p = [10,20]
c = [30,40]
m = [50,60]
marks = {}
total_marks = {}
dind = {}
j=0
for i in USN:
    marks[i] = [p[j]]
    marks[i].extend([c[j],m[j]])
    total_marks[i] = p[j]+c[j]+m[j]
    dind[i] = dict()
    dind[i]['p'] = p[j]
    dind[i]['c'] = c[j]
    dind[i]['m'] = m[j]
    j+=1
print(marks)
print(total_marks)
print(dind)

{'1': [10, 30, 50], '2': [20, 40, 60]}
{'1': 90, '2': 120}
{'1': {'p': 10, 'c': 30, 'm': 50}, '2': {'p': 20, 'c': 40, 'm': 60}}

# Class 29

In [98]:
s = '''karnataka bangalore lalbagh
tamilnad hassan something
karnataka mysore somethingelse
tamilnad chennai idk'''

In [101]:
states = set()
line = s.split('\n')
for i in line:
    state = i.split()[0]
    if state not in states:
        states.add(state)
states

{'karnataka', 'tamilnad'}

In [105]:
lines = s.split('\n')
cities = {}
for line in lines:
    state,city = line.split()[:2]
    if state not in cities:
        cities[state]=set()
    if city not in cities[state]:
        cities[state].add(city)
cities

{'karnataka': {'bangalore', 'mysore'}, 'tamilnad': {'chennai', 'hassan'}}

In [110]:
citycount = {}
for i,j in cities.items():
    citycount[i] = len(j)
citycount

{'karnataka': 2, 'tamilnad': 2}

# Class 30

In [111]:
details = ['name','cgpa','skills']
d ={}.fromkeys(details,'def')

In [112]:
d

{'name': 'def', 'cgpa': 'def', 'skills': 'def'}

# Class 32

### Regular Expressions

In [2]:
import re

In [115]:
re.findall('[ab]','abcada') #Char a or b

['a', 'b', 'a', 'a']

In [117]:
re.findall('[a]+','abcadaa') #Char 1 or more a

['a', 'a', 'aa']

In [118]:
re.findall('[a]*','abcada') #Char 0 or more a

['a', '', '', 'a', '', 'a', '']

In [119]:
re.findall('.','abcada') #Char anything

['a', 'b', 'c', 'a', 'd', 'a']

In [120]:
re.findall('.*','Hello World')

['Hello World', '']

In [121]:
re.findall('a|b','abcada') #Char a or b [same as [ab]]

['a', 'b', 'a', 'a']

In [123]:
re.findall('(a|b)xy','abxy cxadaxy') #Cares only about (whats here)

['b', 'a']

In [126]:
re.findall('\AFirst','First here') #First

['First']

In [127]:
re.findall('\AFirst','The First here')

[]

In [3]:
re.findall('\D','The Fir34st here') #all non digits

['T', 'h', 'e', ' ', 'F', 'i', 'r', 's', 't', ' ', 'h', 'e', 'r', 'e']

In [133]:
re.findall('\d','The 7 First 5 here') #digits

['7', '5']

In [135]:
re.findall('\s','The First here')  #White space

[' ', ' ']

In [136]:
re.findall('\S','The First here') #not white space

['T', 'h', 'e', 'F', 'i', 'r', 's', 't', 'h', 'e', 'r', 'e']

In [6]:
re.findall('\w','The First 4#!544dh 534') #Normal

['T',
 'h',
 'e',
 'F',
 'i',
 'r',
 's',
 't',
 '4',
 '5',
 '4',
 '4',
 'd',
 'h',
 '5',
 '3',
 '4']

In [141]:
re.findall('\W','The First here 4544$ds#sh 534') #Special char

[' ', ' ', ' ', '$', '#', ' ']

In [142]:
re.findall('\w+','The First here 4544dssh 534')

['The', 'First', 'here', '4544dssh', '534']

In [32]:
m = re.match('\S+@\S+','abc@gmail.com')

In [33]:
m

In [34]:
m.group()

'abc@gmail.com'

In [35]:
m = re.match('\S@\S','abc@gmail.com') #from the start

In [36]:
m

In [37]:
m = re.search('\S+@\S+','abc@gmail.com')

In [40]:
m.group()

'abc@gmail.com'

In [154]:
re.sub(' ',' yello ',' 1 2 3 4 ')

' yello 1 yello 2 yello 3 yello 4 yello '

In [ ]:
c = []
with open('x.txt','r') as f:
    for line in f:
        pattern ='^X\S+: [0-9.]+'
        m=re.findall(pattern,line)
        if m:
            c.extend(m)
sum(list(map(float,c)))

### Nested Functions

In [167]:
b = 0
def test():
    a=10
    def test1():
        nonlocal a
        global b
        a=16
        b=10
        print(a,b)
    return test1
test()()

16 10

### Closure

In [170]:
def make_mul(x):
    def mul(n):
        return x*n
    return mul
t=make_mul(2)
print(t)
del make_mul
t(3) #3*2

<function make_mul.<locals>.mul at 0x10c1b2510>

6

# Class 33

### TEST

In [45]:
string = "9916237922 hello world 9916432011"
string1 = "ani@gmail.com adish@  adish@gmail.com"
re.findall(('\d{10}'),string)

['9916237922', '9916432011']

In [46]:
re.findall(('\S+@\S+'),string1)

['ani@gmail.com', 'adish@gmail.com']

In [47]:
r = re.compile('\d{10}')
r.findall(string)

['9916237922', '9916432011']

In [49]:
l1 = [1,2,3]
l2 = [4,5,6]
dict(zip(l1,l2))

{1: 4, 2: 5, 3: 6}

# Class 34

In [80]:
def test(fn):
    def display():
        print('start')
        fn()
        print('stop')
    return display

def sort1():
    print('Sort1')
  
# @something is function decorator
@test #sort=test(sort) and the display function keeps the sort function in its frame
def sort():
    print('Sooort')

t=test(sort1)
t() #T calls display with sort1


print('*'*30)
#start
sort() #due to @test sort has been redefined as test(sort) and thus calls display with sort
print(sort)
#stop

start
Sort1
stop
******************************
start
Sooort
stop
<function test.<locals>.display at 0x111946a60>